BasedOnStyle: LLVM
IndentWidth: 4
AllowShortIfStatementsOnASingleLine: WithoutElse
ColumnLimit: 100
ReflowComments: false
AlignTrailingComments: false
AlignEscapedNewlines: Left
AllowShortFunctionsOnASingleLine: None
AlwaysBreakAfterReturnType: None
